{% extends 'base.html' %}

{% block content %}
    <div style="width: 800px; margin: 0 auto">
        <h3>{{ title }}</h3>
        <ol>
            {% for obj in objects %}
                <li><b>main url:</b> {{ obj.url }}</li><br>
                <p><b>shortened url:</b> <a href="{{ request.get_host }}/{{ obj.shortcode }}">{{ request.get_host }}/{{ obj.shortcode }}</a> || {{ obj.active }}</p>
            {% endfor %}
        </ol>
        <a href="/"> +New</a>
    </div>
{% endblock content %}


